* {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	background-color: #99A950;
	//color: #CD342F;
}

iframe {
	width:800px;
	height:600px;
}

.CENTER {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

li {
	text-align:left;
}

ul.MENU li {
	display: inline;
	
}

table {
	border: 2px dotted black;
	border-radius: 0px 0px 16px 8px;
		
}

tr:nth-child(even) 
{
	background-color: #99A940;
} 

td:nth-child(odd) 
{
	font-size: 2em;
}
td:nth-child(even):hover
{
	color:white;
}

tr:hover {
	background-color: #CD342F;
	outline: thick ridge pink;
}

a {
	text-decoration: none;
	color: #CD342F;
	font-weight:900;
}

a:visited {
	color: #CD342F;
}

a:hover {
	text-decoration: underline;
	outline: dotted;
	background-color: #CD342F;
	color:white;
}

td {
		text-align: left;
		vertical-align: top;
		padding: 4px;
}

#info 
{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
}

#links
{
	padding: 8px;
	font-size: 1.625em;
}

footer {
	
	height: 50px;
	color: #ffffff;
	background-color: black;
	//min-height: 200px;
}


ul 
{
	  list-style-type: none;
}
