* {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	background-color: #99A950;
	//color: #CD342F;
}

li {
	text-align:left;
}
ul.MENU li {
	display: inline;
	
}

table {
	border: 4px solid black;
	
}

tr:nth-child(even) 
{
	background-color: #99A940;
} 

td:nth-child(odd) 
{
	font-size: 2em;
}


td {
		text-align: left;
		vertical-align: top;
		padding: 4px;
}

#info 
{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	height: 50px;
	color: #ffffff;
	background-color: black;
	//min-height: 200px;
}

ul 
{
	  list-style-type: none;
}
